h2{
	background-color: #5599dd;
	color:dddddd;
}

.esp{
	text-indent:50px;
	
}

.mail2{
	text-decoration:underline;
	font-style:italic;
	color:dddddd;
}

#email{
	text-decoration:underline;
	font-style:italic;
}